<app-topbar></app-topbar>

@if (archivedJobs) {
  <section class="mx-auto mt-20 p-5 lg:ml-64">
    <div class="card">
      <p-table
        [value]="archivedJobs"
        [lazy]="true"
        [paginator]="true"
        [rows]="jobsPerPage"
        [loading]="loading"
        [first]="0"
        [totalRecords]="totalJobs"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        (onLazyLoad)="onPageChange($event)"
      >
        <ng-template pTemplate="caption">
          <div>
            <h2 class="text-center">Archived Jobs</h2>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 2rem">#</th>
            <th style="width: 20%">Title</th>
            <th style="width: 15%">Years of experience</th>
            <th style="width: 20%">Department</th>
            <th style="width: 10%">Location</th>
            <th style="width: 20%">Applicants</th>
            <!-- <th style="width: 15%">applied (rejected)</th> -->
            <th class="width: 20%" class="text-center">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-archivedJob>
          <tr>
            <td>{{ archivedJob.id }}</td>
            <td>
              <span class="" pTooltip="View job post" tooltipPosition="bottom">
                <a
                  [routerLink]="['/jobs', archivedJob.id]"
                  target="_blank"
                  class="text-black no-underline hover:text-blue-500"
                >
                  {{ archivedJob.title }}
                  <i class="pi pi-arrow-up-right"></i> </a
              ></span>
            </td>
            <td>{{ archivedJob.years }} years</td>
            <td>
              {{ formatDepartment(archivedJob.department) | titlecase }}
            </td>
            <td>{{ archivedJob.location.split(",")[0] }}</td>
            <td>
              <a
                class="cursor-pointer text-black hover:text-blue-500 hover:underline"
                [routerLink]="[
                  '/admin/dashboard/job/applicants',
                  archivedJob.id,
                ]"
              >
                View applicants
              </a>
            </td>
            <!-- <td class="text-lg">
              <span class="mr-1">{{
                archivedJob.all_applicants_count || 0
              }}</span>
              (<span class="text-primary">{{
                archivedJob.rejected_count || 0
              }}</span
              >)
            </td> -->
            <td class="flex items-center justify-around">
              <p-button
                (onClick)="navigateToDetails(archivedJob.id)"
                icon="pi pi-pen-to-square text-2xl text-blue-500 hover:text-blue-600"
                link="true"
                class="p-0"
                pTooltip="Edit"
                tooltipPosition="bottom"
              />
              <p-button
                (onClick)="confirmArchive($event, archivedJob.id)"
                severity="danger"
                icon="fa-solid fa-folder-plus text-2xl text-yellow-500 hover:text-yellow-700"
                link="true"
                class="p-0"
                pTooltip="Publish"
                tooltipPosition="bottom"
              />
              <p-button
                (onClick)="confirmDelete($event, archivedJob.id)"
                severity="danger"
                icon="pi pi-trash text-2xl text-red-500 hover:text-red-700"
                link="true"
                class="p-0"
                pTooltip="Delete"
                tooltipPosition="bottom"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-toast />
      <p-confirmDialog />
    </div>
  </section>
}
