<section class="bg-gray-50">
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0"
  >
    <div
      class="w-full rounded-lg bg-white shadow dark:border sm:max-w-md md:mt-0 xl:p-0"
    >
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl"
        >
          Sign in to verify your account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          #verifyForm="ngForm"
          (ngSubmit)="onLogin(verifyForm)"
        >
          <div>
            <label
              for="email"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              required
              ngModel
              #email="ngModel"
              [ngClass]="{
                'ng-dirty': email.touched,
                'ng-invalid': email.invalid && email.touched,
              }"
              pInputText
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:border-primary-600 focus:ring-primary-600"
              placeholder="Enter your email"
            />
          </div>
          <div>
            <label
              for="password"
              class="mb-2 block text-sm font-medium text-gray-900"
              >Password</label
            >
            <p-password
              type="password"
              name="password"
              id="password"
              autocomplete="password"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:border-primary-600 focus:ring-primary-600"
              required
              ngModel
              [toggleMask]="true"
              [feedback]="false"
              [style]="{
                display: 'block',
                width: '100%',
                backgroundColor: '#F9FAFB',
                padding: '0px',
              }"
              [inputStyle]="{
                display: 'block',
                width: '100%',
                backgroundColor: '#F9FAFB',
                opacity: '1',
              }"
              #password="ngModel"
              [ngClass]="{
                'ng-dirty': password.touched,
                'ng-invalid': password.invalid && password.touched,
              }"
              placeholder="••••••••"
            />
          </div>
          @if (errorMessage) {
            <div class="text-sm text-red-500">{{ errorMessage }}</div>
          }
          <p-button
            label="Login"
            [disabled]="verifyForm.invalid"
            [style]="{
              width: '100%',
              marginTop: '30px',
              marginBottom: '10px',
            }"
            [loading]="isLoading"
            type="submit"
          />
        </form>
        <p-toast />
      </div>
    </div>
  </div>
</section>
