label:after {
  content: " *";
  color: red;
}
.status-rejected {
  color: red;
}

.status-accepted {
  color: green;
}

.status-in-process {
  color: yellow;
}

.status-applied {
  color: blue;
}
.verify-link {
  color: #1e90ff;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.verify-link:hover {
  color: #ff4500; /* Changes color on hover */
  text-decoration: none; /* Removes underline on hover */
}
