<div class="flex h-screen flex-col">
  <app-header></app-header>
  <main class="flex flex-1 items-center justify-center bg-[#fbfbfb]">
    <div
      class="mx-auto my-10 flex max-w-full flex-col items-center justify-center px-6 py-8 lg:py-0"
    >
      <div
        class="w-[700px] max-w-full rounded-lg bg-white shadow md:mt-0 xl:p-0"
      >
        <div class="w-full space-y-4 p-6 sm:p-8 md:space-y-6">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
          >
            Update your current password
          </h1>
          <form
            class="w-full space-y-4 md:space-y-6"
            [formGroup]="updatePasswordForm"
            (ngSubmit)="onChangePassword()"
          >
            <div>
              <label
                for="old_password"
                class="mb-2 block text-sm font-medium text-gray-900"
                >Your old password</label
              >
              <p-password
                type="password"
                name="old_password"
                id="old_password"
                formControlName="old_password"
                autocomplete="off"
                [ngClass]="{
                  'border-gray-300':
                    !updatePasswordForm.controls['old_password'].touched ||
                    updatePasswordForm.controls['old_password'].valid,
                  'border-red-500':
                    updatePasswordForm.controls['old_password'].touched &&
                    updatePasswordForm.controls['old_password'].invalid,
                }"
                [style]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  padding: '0px',
                }"
                [toggleMask]="true"
                [feedback]="false"
                [inputStyle]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  opacity: '1',
                }"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:border-primary-600 focus:ring-primary-600"
                placeholder="••••••••"
              />
            </div>
            <div>
              <label
                for="password"
                class="mb-2 block text-sm font-medium text-gray-900"
                >New password</label
              >
              <p-password
                type="password"
                name="newPassword"
                id="newPassword"
                formControlName="newPassword"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:border-primary-600 focus:ring-primary-600"
                [toggleMask]="true"
                [feedback]="true"
                [style]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  padding: '0px',
                }"
                [inputStyle]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  opacity: '1',
                }"
                [ngClass]="{
                  'border-gray-300':
                    !updatePasswordForm.controls['newPassword'].touched ||
                    updatePasswordForm.controls['newPassword'].valid,
                  'border-red-500':
                    updatePasswordForm.controls['newPassword'].touched &&
                    updatePasswordForm.controls['newPassword'].invalid,
                }"
                placeholder="••••••••"
              />
            </div>
            <div>
              <label
                for="confirmNewPassword"
                class="mb-2 block text-sm font-medium text-gray-900"
                >Repeat password</label
              >
              <p-password
                type="password"
                name="confirmNewPassword"
                id="confirmNewPassword"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-gray-900 focus:border-primary-600 focus:ring-primary-600"
                [toggleMask]="true"
                [feedback]="false"
                formControlName="confirmNewPassword"
                [style]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  padding: '0px',
                }"
                [inputStyle]="{
                  display: 'block',
                  width: '100%',
                  backgroundColor: '#F9FAFB',
                  opacity: '1',
                }"
                [ngClass]="{
                  'border-gray-300':
                    !updatePasswordForm.controls['confirmNewPassword']
                      .touched ||
                    updatePasswordForm.controls['confirmNewPassword'].valid,
                  'border-red-500':
                    updatePasswordForm.controls['confirmNewPassword'].touched &&
                    updatePasswordForm.controls['confirmNewPassword'].invalid,
                }"
                placeholder="••••••••"
              />
              @if (
                updatePasswordForm.hasError("passwordMismatch") &&
                updatePasswordForm.get("confirmNewPassword")?.touched
              ) {
                <div class="mt-2 text-sm text-red-500">
                  Passwords do not match
                </div>
              }
              @if (error) {
                <div class="text-sm text-red-500">{{ error }}</div>
              }
            </div>

            <p-button
              label="Update"
              [disabled]="updatePasswordForm.invalid"
              [style]="{
                width: '100%',
                marginTop: '30px',
                marginBottom: '10px',
              }"
              [loading]="isLoading"
              type="submit"
            />
          </form>
          <p-toast />
        </div>
      </div>
    </div>
  </main>

  <app-footer class="mt-auto"></app-footer>
</div>
