<app-topbar></app-topbar>
@if (jobs) {
  <section class="mx-auto mr-5 mt-20 lg:ml-64">
    <div class="card">
      <p-table
        [value]="jobs"
        [lazy]="true"
        [paginator]="true"
        [rows]="jobsPerPage"
        [loading]="loading"
        [first]="0"
        [totalRecords]="totalJobs"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        (onLazyLoad)="onPageChange($event)"
      >
        <ng-template pTemplate="caption">
          <div>
            <h2 class="text-center">Jobs opennings</h2>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 2rem">#</th>
            <th style="width: 20%">Title</th>
            <th style="width: 15%">Years of experience</th>
            <th style="width: 10%">Department</th>
            <th style="width: 10%">Location</th>
            <th style="width: 20%">Applicants</th>
            <th style="width: 15%">applied (rejected)</th>
            <th>Edit</th>
            <th>Archive</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
          <tr>
            <td>{{ job.id }}</td>
            <td>
              <span class="" pTooltip="View job post" tooltipPosition="bottom">
                <a
                  [routerLink]="['/jobs', job.id]"
                  target="_blank"
                  class="text-black no-underline hover:text-blue-500"
                >
                  {{ job.title }}
                  <i class="pi pi-arrow-up-right"></i> </a
              ></span>
            </td>
            <td>{{ job.years }}</td>
            <td>{{ formatDepartment(job.department) | titlecase }}</td>
            <td>{{ job.location.split(",")[0] }}</td>
            <td>
              <a
                class="cursor-pointer text-black hover:text-blue-500 hover:underline"
                [routerLink]="['/admin/dashboard/job/applicants', job.id]"
              >
                View applicants
              </a>
            </td>
            <td class="text-lg">
              <span class="mr-1">{{ job.all_applicants_count || 0 }}</span>
              (<span class="text-primary">{{ job.rejected_count || 0 }}</span
              >)
            </td>
            <td>
              <p-button
                (onClick)="navigateToDetails(job.id)"
                icon="pi pi-pen-to-square text-2xl text-blue-500 hover:text-blue-600"
                link="true"
                class="p-0"
                pTooltip="Edit"
                tooltipPosition="bottom"
              />
            </td>
            <td>
              <p-button
                (onClick)="confirmArchive($event, job.id)"
                severity="danger"
                icon="fa-solid fa-folder-minus text-2xl text-yellow-500 hover:text-yellow-700"
                link="true"
                class="p-0"
                pTooltip="Archive"
                tooltipPosition="bottom"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-toast />
      <p-confirmDialog />
    </div>
  </section>
} @else {
  <div class="flex h-screen w-screen items-center justify-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
}
