<div
  class="mx-auto my-6 flex max-w-screen-lg flex-col items-center gap-6 bg-white p-3 text-center text-grayTitle md:my-0 md:flex-row md:text-start"
>
  <p class="text-xl">
    Can't find a role that matches your skills? Send your resume to
    careers&#64;atc.com.eg, and we'll reach out if a suitable opportunity opens
    up in the future!
  </p>
  <p-button
    label="Email my resume "
    [style]="{
      width: '220px',
      backgroundColor: '#EB1F2F',
      border: '0px',
      outline: '0',
    }"
    class="focus:outline-none"
    (onClick)="emailResume()"
  />
</div>
