<app-topbar></app-topbar>
@if (live_jobs_count && archived_jobs_count && users_count) {
  <main
    class="mx-5 mt-24 grid grid-cols-1 gap-10 pt-5 md:grid-cols-2 lg:ml-64 lg:grid-cols-3"
  >
    <div class="card mx-auto w-full">
      <p-card header="Active jobs" class="">
        <p class="text-xl font-semibold">{{ live_jobs_count }}</p>
      </p-card>
    </div>
    <div class="card mx-auto w-full">
      <p-card header="Archived jobs" class="">
        <p class="text-xl font-semibold">{{ archived_jobs_count }}</p>
      </p-card>
    </div>
    <div class="card mx-auto w-full">
      <p-card header="Users" class="">
        <p class="text-xl font-semibold">{{ users_count }}</p>
      </p-card>
    </div>
  </main>
} @else {
  <div class="flex h-screen w-screen items-center justify-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
}
